---

---


<nav class="fixed w-full z-20 top-0 start-0 border-b border-gray-200 bg-lightWhite dark:bg-customDarkGreen">
    <div class="max-w-screen-xl flex flex-wrap items-center mx-auto p-2">
        <a class="flex items-center space-x-3 rtl:space-x-reverse mr-auto">
            <img src="../../public/logo-dev.png" class="h-11" alt="Logo dev" />
            <span id="title" class="self-center lg:text-4xl md:text-2xl text-2xl font-semibold whitespace-nowrap">Portfolio</span>
        </a>
        <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center mr-auto p-1 w-10 h-10 justify-center text-sm text-customGreen rounded-lg md:hidden hover:bg-customBlue dark:hover:bg-customWhite transition-all duration-500 border-2 border-customGreen" aria-controls="navbar-default" aria-expanded="false">
            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
            </svg>
        </button>
        <label for="dark-toggle" class="bg-customGreen dark:bg-darkWhite px-1 py-1 w-12 rounded-full has-[:checked]:pl-6 transition-all flex items-center">
            <div class="w-5 h-5 rounded-full bg-darkWhite dark:bg-customGreen cursor-pointer flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 dark:hidden" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="256" height="256" viewBox="0 0 256 256" xml:space="preserve"><defs>
                    </defs>
                    <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)" >
                        <path d="M 45 68 c -12.682 0 -23 -10.317 -23 -23 c 0 -12.682 10.318 -23 23 -23 c 12.683 0 23 10.318 23 23 C 68 57.683 57.683 68 45 68 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: #eda736; fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                        <path d="M 38.652 17.61 c -0.292 0 -0.573 -0.127 -0.765 -0.356 c -0.239 -0.284 -0.301 -0.677 -0.161 -1.021 l 6.348 -15.61 C 44.227 0.247 44.593 0 45 0 s 0.773 0.247 0.926 0.623 l 6.349 15.61 c 0.14 0.344 0.077 0.737 -0.162 1.021 c -0.238 0.284 -0.616 0.414 -0.978 0.333 c -4.045 -0.881 -8.228 -0.881 -12.271 0 C 38.794 17.603 38.723 17.61 38.652 17.61 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill:  #f5cd06; fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                        <path d="M 45 90 c -0.407 0 -0.773 -0.246 -0.926 -0.623 l -6.348 -15.61 c -0.14 -0.344 -0.078 -0.737 0.161 -1.021 c 0.239 -0.284 0.615 -0.412 0.978 -0.333 c 4.043 0.882 8.226 0.882 12.271 0 c 0.363 -0.08 0.74 0.05 0.978 0.333 c 0.239 0.283 0.302 0.677 0.162 1.021 l -6.349 15.61 C 45.773 89.754 45.407 90 45 90 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: #f5cd06; fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                        <path d="M 16.61 52.349 c -0.127 0 -0.255 -0.024 -0.377 -0.073 l -15.61 -6.349 C 0.247 45.773 0 45.407 0 45 s 0.247 -0.773 0.624 -0.926 l 15.61 -6.348 c 0.343 -0.14 0.737 -0.078 1.021 0.161 c 0.284 0.239 0.412 0.616 0.333 0.978 c -0.441 2.021 -0.665 4.086 -0.665 6.135 c 0 2.049 0.224 4.113 0.665 6.136 c 0.079 0.362 -0.049 0.739 -0.333 0.978 C 17.071 52.269 16.842 52.349 16.61 52.349 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill:  #f5cd06; fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                        <path d="M 73.39 52.349 c -0.231 0 -0.461 -0.08 -0.644 -0.235 c -0.284 -0.238 -0.412 -0.615 -0.333 -0.978 c 0.44 -2.022 0.664 -4.087 0.664 -6.136 c 0 -2.049 -0.224 -4.114 -0.664 -6.135 c -0.079 -0.362 0.049 -0.739 0.333 -0.978 c 0.283 -0.239 0.676 -0.301 1.021 -0.161 l 15.61 6.348 C 89.754 44.227 90 44.593 90 45 s -0.246 0.773 -0.623 0.926 l -15.61 6.349 C 73.645 52.324 73.517 52.349 73.39 52.349 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill:  #f5cd06; fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                        <path d="M 20.437 30.415 c -0.028 0 -0.057 -0.001 -0.085 -0.004 c -0.37 -0.032 -0.692 -0.266 -0.836 -0.607 l -6.549 -15.527 c -0.158 -0.375 -0.073 -0.808 0.214 -1.096 c 0.288 -0.288 0.722 -0.371 1.096 -0.214 l 15.527 6.549 c 0.342 0.144 0.576 0.466 0.607 0.835 c 0.032 0.37 -0.144 0.727 -0.456 0.927 c -1.743 1.119 -3.36 2.42 -4.809 3.868 c -1.448 1.449 -2.75 3.066 -3.868 4.809 C 21.093 30.243 20.775 30.415 20.437 30.415 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill:  #f5cd06; fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                        <path d="M 76.112 77.112 c -0.131 0 -0.263 -0.025 -0.389 -0.078 l -15.526 -6.549 c -0.342 -0.145 -0.576 -0.467 -0.607 -0.836 c -0.032 -0.37 0.144 -0.727 0.456 -0.928 c 1.745 -1.121 3.363 -2.423 4.808 -3.868 l 0 0 c 1.445 -1.444 2.747 -3.063 3.868 -4.808 c 0.201 -0.312 0.553 -0.489 0.928 -0.456 c 0.369 0.031 0.691 0.266 0.836 0.607 l 6.549 15.526 c 0.157 0.375 0.073 0.809 -0.215 1.096 C 76.628 77.011 76.372 77.112 76.112 77.112 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill:  #f5cd06; fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                        <path d="M 69.563 30.414 c -0.339 0 -0.656 -0.171 -0.842 -0.459 c -1.121 -1.746 -2.423 -3.363 -3.868 -4.809 l 0 0 c -1.447 -1.447 -3.065 -2.749 -4.808 -3.868 c -0.313 -0.2 -0.488 -0.557 -0.456 -0.927 c 0.031 -0.37 0.266 -0.691 0.607 -0.835 l 15.526 -6.549 c 0.373 -0.158 0.808 -0.074 1.096 0.214 c 0.288 0.288 0.372 0.721 0.215 1.096 l -6.549 15.527 c -0.145 0.342 -0.467 0.576 -0.836 0.607 C 69.62 30.413 69.592 30.414 69.563 30.414 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill:  #f5cd06; fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                        <path d="M 13.887 77.112 c -0.26 0 -0.516 -0.102 -0.707 -0.293 c -0.288 -0.288 -0.373 -0.721 -0.214 -1.096 l 6.549 -15.526 c 0.144 -0.342 0.466 -0.576 0.835 -0.607 c 0.37 -0.043 0.727 0.144 0.927 0.456 c 1.119 1.742 2.421 3.36 3.868 4.808 l 0 0 c 1.446 1.446 3.063 2.747 4.809 3.868 c 0.312 0.201 0.488 0.558 0.456 0.928 c -0.032 0.369 -0.266 0.691 -0.607 0.836 l -15.527 6.549 C 14.15 77.087 14.019 77.112 13.887 77.112 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill:  #f5cd06; fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                    </g>
                </svg>   
                <svg id="moon-icon" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 hidden dark:block" fill="#0c1a1a" viewBox="0 0 24 24" stroke="none">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12.79A9 9 0 1111.21 3a7 7 0 009.79 9.79z" />
                </svg> 
            </div>
            <input id="dark-toggle" name="dark-mode" type="checkbox" class="hidden" />
          </label>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
            <ul data-animation="diagonal" class="menu flex flex-col font-medium text-slate-700 dark:text-customWhite p-4 md:p-0 mt-4 rounded-lg md:space-x-0 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0">
                <li>
                    <a href="#skills" class="block py-2 px-3 md:p-0 rounded lg:ml-4 relative">Tecnologías
                        <span class="border border-top"></span>
                        <span class="border border-right"></span>
                        <span class="border border-bottom"></span>
                        <span class="border border-left"></span>
                    </a>
                </li>
                <li>
                    <a href="#about" class="block py-2 px-3 md:p-0 rounded relative">Sobre mí
                        <span class="border border-top"></span>
                        <span class="border border-right"></span>
                        <span class="border border-bottom"></span>
                        <span class="border border-left"></span>
                    </a>
                </li>
                <li>
                    <a href="#projects" class="block py-2 px-3 md:p-0 rounded relative">Proyectos
                        <span class="border border-top"></span>
                        <span class="border border-right"></span>
                        <span class="border border-bottom"></span>
                        <span class="border border-left"></span>
                    </a>
                </li>
                <li>
                    <a href="#contact" class="block py-2 px-3 md:p-0 rounded relative">Contacto
                        <span class="border border-top"></span>
                        <span class="border border-right"></span>
                        <span class="border border-bottom"></span>
                        <span class="border border-left"></span>
                    </a>
                </li>
            </ul>
        </div>   
    </div>
  </nav>
  

<style>
img:hover {
    transform: translate(15px, -15px);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    
}

    :root {
        --transition-duration: 0.3s;
        --transition-delay: 0.2s;
    }
    
    
    ul {
        list-style: none;
    }
    
    a {
        text-decoration: none;
    }
    
    .menu a {
        position: relative;
        padding: 10px;
    }
    
    .menu .border {
        position: absolute;
        left: 0;
        border-color: #178582;
        transition: transform var(--transition-duration) ease-in-out, background-color var(--transition-duration) ease-in-out;
    }
    
    .menu .border-top,
    .menu .border-bottom {
        width: 100%;
        height: 1px;
        transform: scaleX(0);
    }
    
    .menu .border-left,
    .menu .border-right {
        width: 1px;
        height: 100%;
        transform: scaleY(0);
    }
    
    .menu .border-top,
    .menu .border-left,
    .menu .border-right {
        top: 0;
    }
    
    .menu .border-bottom {
        bottom: 0;
        transform-origin: bottom right;
    }
    
    .menu .border-top {
        transform-origin: top left;
    }
    
    .menu .border-left {
        transform-origin: bottom left;
    }
    
    .menu .border-right {
        left: auto;
        right: 0;
        transform-origin: top right;
    }
     
    .menu a:hover .border-top,
    .menu a:hover .border-bottom {
        transform: scaleX(1);
        
    }
    
    .menu a:hover .border-left,
    .menu a:hover .border-right {
        transform: scaleY(1);
        
    }
    
    .menu a:hover .border-right {
        transition-delay: var(--transition-delay);
    }
    
    .menu a:hover .border-bottom {
        transition-delay: calc(var(--transition-delay) * 2);
    }
    
    .menu a:hover .border-left {
        transition-delay: calc(var(--transition-delay) * 3);
    }
    
    /* ANIMATIONS */
    .menu[data-animation="diagonal"] .border-left {
        transform-origin: top left;
    }
    
    .menu[data-animation="diagonal"] .border-right,
    .menu[data-animation="diagonal"] .border-bottom {
        transform-origin: bottom right;
    }
    
    .menu[data-animation="diagonal"] a:hover [class^=border] {
        transition-delay: 0s;
    }


    /* TITULO */
    #title{
    background: linear-gradient(
        to right,
        #6acfc7 20%,
        #4daba3 40%,
        #368f88 60%,
        #22736d 80%
    );
    background-size: 100%;
    color: transparent;
    background-clip: text;
    animation: shine 4s linear infinite;
    }

    @keyframes shine {
    to {
        background-position: 200% center;
    }
    }


</style>

<script is:inline>
  document.getElementById('dark-toggle').addEventListener('change', (event) => {
    if (event.target.checked) {
      document.documentElement.classList.add('dark');
    } else {
      document.documentElement.classList.remove('dark');
    }
  });
</script>
