---

---

<section class="body mt-8">
  <div class="container mx-auto flex px-2 py-10 flex-col lg:flex-row items-center">
      <div class="lg:max-w-lg md:w-3/6 lg:w-full sm:w-full w-4/6 lg:order-last mb-8">
          <img class="cursor-pointer hover:scale-110 object-cover object-center shadow-2xl shadow-customGreen border-double border-4 transition-border duration-700 ease-in-out hover:border-customGreen border-customBlue rounded-sm rounded-br-[5rem] rounded-tl-[5rem] dark:bg-customNoir bg-customDarkGreen" alt="Pablo A." src="/CV.png">
      </div>
      <div class="lg:flex-grow lg:pr-24 flex flex-col items-center lg:items-start text-center lg:text-left mb-16 lg:mb-0 lg:order-1 sm:order-2">
          <h1 id="title" class="slide-in-elliptic-top-fwd font-black text-8xl text-customGreen">Pablo Arcas</h1>
          <div class="flex items-center mb-5">
              <h6 class="text-base dark:text-customWhite text-slate-700 font-bold text-left lg:text-xl mr-4">WEB DEVELOPER</h6>
              <button class="px-3 md:ml-4 rounded-full flex items-center  bg-customGreen dark:bg-customNoir border border-customGreen justify-center transition-all duration-500">
                  <div class="w-3 h-3 bg-customBlue dark:bg-customGreen rounded-full blink"></div>
                  <div class="ml-2 text-base text-white whitespace-nowrap blink">Disponible</div>
              </button>
          </div>
          <p class="mb-8 leading-relaxed text-gray-500 dark:text-gray-100 text-justify">Me gusta diseñar y desarrollar soluciones innovadoras que no solo cumplen con los requisitos funcionales, sino que también ofrecen una excelente experiencia de usuario. Comprometido con el aprendizaje continuo y la actualización de mis habilidades estoy abierto a cualquier tecnología y reto que se me proponga. ¡Estoy preparado para aportar valor a tú proyecto! 
          </p>
          <div class="flex justify-center lg:justify-start mb-6">
              <a href="/Pablo A - Web Developer CV.pdf" download class="p-2 me-6 rounded-lg flex items-center bg-darkWhite dark:bg-customNoir border border-customGreen justify-center transition-all duration-500">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#6acfc7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-text css-svt5ra">
                  <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"></path>
                  <path d="M14 2v4a2 2 0 0 0 2 2h4"></path><path d="M10 9H8"></path>
                  <path d="M16 13H8"></path><path d="M16 17H8"></path>
                </svg>
              </a>
              <a href="https://www.linkedin.com/in/p-arcas" class="p-2 me-6 rounded-lg flex items-center bg-darkWhite dark:bg-customNoir border border-customGreen justify-center transition-all duration-500">
                <svg width="30" height="30" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" viewBox="0 0 256 256">
                  <path d="M218.123 218.127h-37.931v-59.403c0-14.165-.253-32.4-19.728-32.4-19.756 0-22.779 15.434-22.779 31.369v60.43h-37.93V95.967h36.413v16.694h.51a39.907 39.907 0 0 1 35.928-19.733c38.445 0 45.533 25.288 45.533 58.186l-.016 67.013ZM56.955 79.27c-12.157.002-22.014-9.852-22.016-22.009-.002-12.157 9.851-22.014 22.008-22.016 12.157-.003 22.014 9.851 22.016 22.008A22.013 22.013 0 0 1 56.955 79.27m18.966 138.858H37.95V95.967h37.97v122.16ZM237.033.018H18.89C8.58-.098.125 8.161-.001 18.471v219.053c.122 10.315 8.576 18.582 18.89 18.474h218.144c10.336.128 18.823-8.139 18.966-18.474V18.454c-.147-10.33-8.635-18.588-18.966-18.453" fill="#0A66C2"/>
                </svg>
              </a>
              <a href="https://github.com/Pabler3" class="p-2 me-6 rounded-lg flex items-center border dark:fill-white border-customGreen justify-center transition-all duration-500">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="current">
                      <path d="M12 0C5.37 0 0 5.37 0 12c0 5.3 3.438 9.8 8.205 11.385.6.113.82-.263.82-.582 0-.285-.01-1.04-.015-2.04-3.338.728-4.042-1.61-4.042-1.61-.546-1.385-1.333-1.755-1.333-1.755-1.09-.745.083-.73.083-.73 1.205.085 1.84 1.237 1.84 1.237 1.07 1.835 2.805 1.305 3.49.997.108-.775.417-1.305.76-1.605-2.665-.305-5.467-1.333-5.467-5.93 0-1.31.47-2.38 1.235-3.22-.125-.305-.535-1.54.115-3.205 0 0 1.01-.323 3.3 1.23.96-.267 1.98-.4 3-.405 1.02.005 2.04.138 3 .405 2.28-1.552 3.29-1.23 3.29-1.23.65 1.665.24 2.9.12 3.205.77.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.43.37.815 1.1.815 2.22 0 1.605-.015 2.895-.015 3.29 0 .32.21.705.825.58C20.565 21.795 24 17.295 24 12c0-6.63-5.37-12-12-12z"/>
                  </svg>
              </a> 
              <a href="mailto:pabloarcas89@gmail.com" class="p-2 me-6 rounded-lg flex items-center bg-darkWhite dark:bg-customNoir border border-customGreen justify-center transition-all duration-500">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 49.4 512 399.42">
                  <g fill="none" fill-rule="evenodd">
                    <g fill-rule="nonzero">
                      <path fill="#4285f4" d="M34.91 448.818h81.454V251L0 163.727V413.91c0 19.287 15.622 34.91 34.91 34.91z"/>
                      <path fill="#34a853" d="M395.636 448.818h81.455c19.287 0 34.909-15.622 34.909-34.909V163.727L395.636 251z"/>
                      <path fill="#fbbc04" d="M395.636 99.727V251L512 163.727v-46.545c0-43.142-49.25-67.782-83.782-41.891z"/>
                    </g>
                    <path fill="#ea4335" d="M116.364 251V99.727L256 204.455 395.636 99.727V251L256 355.727z"/>
                    <path fill="#c5221f" fill-rule="nonzero" d="M0 117.182v46.545L116.364 251V99.727L83.782 75.291C49.25 49.4 0 74.04 0 117.18z"/>
                  </g>
                </svg>
              </a>                  
          </div>
      </div>
  </div>
</section>



<style>

 @keyframes blink {
            0%, 100% { opacity: 1; }
            50% { opacity: 0; }
        }

        .blink {
            animation: blink 1s infinite;
        }

button, a {
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.689);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    
}

button:hover, a:hover{
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
    transform: translate(0, -5px);
    transition: transform 0.3s ease-in-out;
}

.slide-in-elliptic-top-fwd {
	-webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}

</style>