---
 const { id } = Astro.props
---

<section id={id} data-aos="zoom-in">
    <h3 class="flex items-center w-full px-10">
        <span class="flex-grow bg-slate-300 dark:bg-customWhite rounded h-1"></span>
        <span class="mx-3 lg:text-5xl text-3xl font-bold text-slate-700 dark:text-customWhite">Tecnologías</span>
        <span class="flex-grow w-1/2 bg-slate-300 dark:bg-customWhite rounded h-1"></span>
    </h3>
    <section class="text-white body-font">
        <div class="container px-5 py-14 mx-auto cursor-pointer">
            <div class="flex flex-wrap -m-4 text-center">
                <div class="p-4 md:w-1/6 w-1/2 mb-4">
                    <div class="relative group h-24 flex flex-col rounded-xl bg-slate-300 transform transition duration-500 hover:scale-105">
                        <div class="h-18 mt-10">
                            <div id="card" class="absolute top-6 left-1/2 transform -translate-x-1/2 z-40 group-hover:top-[-40%] group-hover:opacity-90 duration-500 w-[90%] h-24 bg-customDarkGreen border-2 border-customGreen rounded-xl justify-items-center align-middle">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 242 256" class="w-16 h-16 mt-4 m-auto">
                                    <g clip-path="url(#a)">
                                        <mask id="b" width="242" height="256" x="0" y="0" maskUnits="userSpaceOnUse" style="mask-type:luminance">
                                            <path fill="#fff" d="M0 0h242v256H0V0Z"/>
                                        </mask>
                                        <g mask="url(#b)">
                                            <path fill="url(#c)" d="m241 43-9 136L149 0l92 43Zm-58 176-62 36-63-36 12-31h101l12 31ZM121 68l32 80H88l33-80ZM9 179 0 43 92 0 9 179Z"/>
                                            <path fill="url(#d)" d="m241 43-9 136L149 0l92 43Zm-58 176-62 36-63-36 12-31h101l12 31ZM121 68l32 80H88l33-80ZM9 179 0 43 92 0 9 179Z"/>
                                        </g>
                                    </g>
                                    <defs>
                                        <linearGradient id="c" x1="53.2" x2="245" y1="231.9" y2="140.7" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#E40035"/>
                                            <stop offset=".2" stop-color="#F60A48"/>
                                            <stop offset=".4" stop-color="#F20755"/>
                                            <stop offset=".5" stop-color="#DC087D"/>
                                            <stop offset=".7" stop-color="#9717E7"/>
                                            <stop offset="1" stop-color="#6C00F5"/>
                                        </linearGradient>
                                        <linearGradient id="d" x1="44.5" x2="170" y1="30.7" y2="174" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#FF31D9"/>
                                            <stop offset="1" stop-color="#FF5BE1" stop-opacity="0"/>
                                        </linearGradient>
                                        <clipPath id="a">
                                            <path fill="#fff" d="M0 0h242v256H0z"/>
                                        </clipPath>
                                    </defs>
                                </svg>
                            </div>
                        </div>
                        <div class="pt-6 z-10 w-full">
                            <h2 class="title-font font-medium text-xs lg:text-xl text-customNoir text-center">ANGULAR</h2>
                        </div>
                    </div>
                </div>
            
                <div class="p-4 md:w-1/6 w-1/2 mb-4">
                    <div class="relative group h-24 flex flex-col rounded-xl bg-slate-300 transform transition duration-500 hover:scale-105">
                        <div class="h-18 mt-10">
                            <div id="card" class="absolute top-6 left-1/2 transform -translate-x-1/2 z-40 group-hover:top-[-40%] group-hover:opacity-90 duration-500 w-[90%] h-24 bg-customDarkGreen border-2 border-customGreen rounded-xl justify-items-center align-middle">
                                <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" viewBox="0 0 256 346" class="w-16 h-16 mt-4 m-auto">
                                    <path d="M83 267s-14 8 9 11c27 3 41 2 71-3 0 0 8 5 19 9-67 29-153-2-99-17M74 230s-15 11 8 13c29 3 52 3 92-4 0 0 6 5 15 8-82 24-173 2-115-17" fill="#5382A1"/>
                                    <path d="M144 166c17 19-4 36-4 36s42-22 22-49c-18-26-32-38 44-82 0 0-119 29-62 95" fill="#E76F00"/>
                                    <path d="M233 295s10 8-10 15c-39 12-163 15-197 0-12-5 11-13 18-14l12-2c-14-9-89 19-38 28 138 22 251-10 215-27M89 190s-63 15-22 21c17 2 51 2 83-1 26-2 52-7 52-7l-16 9c-64 16-187 8-151-9 30-14 54-13 54-13M202 253c64-33 34-66 13-61l-7 2s2-3 6-5c41-14 73 43-14 66l2-2" fill="#5382A1"/>
                                    <path d="M162 0s36 36-34 91c-56 45-12 70 0 99-32-30-56-56-40-80 23-35 89-53 74-110" fill="#E76F00"/>
                                    <path d="M95 345c62 4 158-3 160-32 0 0-4 11-51 20-53 10-119 9-158 2 0 0 8 7 49 10" fill="#5382A1"/>
                                  </svg>
                            </div>
                        </div>
                        <div class="p-6 z-10 w-full">
                            <h2 class="title-font font-medium text-xs lg:text-xl text-customNoir text-center">JAVA</h2>
                        </div>
                    </div>
                </div>
            
                <div class="p-4 md:w-1/6 w-1/2 mb-4">
                    <div class="relative group h-24 flex flex-col rounded-xl bg-slate-300 transform transition duration-500 hover:scale-105">
                        <div class="h-18 mt-10">
                            <div id="card" class="absolute top-6 left-1/2 transform -translate-x-1/2 z-40 group-hover:top-[-40%] group-hover:opacity-90 duration-500 w-[90%] h-24 bg-customDarkGreen border-2 border-customGreen rounded-xl justify-items-center align-middle">
                                <svg xmlns="http://www.w3.org/2000/svg" width="2500" height="2500" viewBox="0 0 1052 1052" class="w-16 h-16 mt-4 m-auto">
                                    <path fill="#f0db4f" d="M0 0h1052v1052H0z"/>
                                    <path d="M965.9 801.1c-7.7-48-39-88.3-131.7-125.9-32.2-14.8-68.1-25.399-78.8-49.8-3.8-14.2-4.3-22.2-1.9-30.8 6.9-27.9 40.2-36.6 66.6-28.6 17 5.7 33.1 18.801 42.8 39.7 45.4-29.399 45.3-29.2 77-49.399-11.6-18-17.8-26.301-25.4-34-27.3-30.5-64.5-46.2-124-45-10.3 1.3-20.699 2.699-31 4-29.699 7.5-58 23.1-74.6 44-49.8 56.5-35.6 155.399 25 196.1 59.7 44.8 147.4 55 158.6 96.9 10.9 51.3-37.699 67.899-86 62-35.6-7.4-55.399-25.5-76.8-58.4-39.399 22.8-39.399 22.8-79.899 46.1 9.6 21 19.699 30.5 35.8 48.7 76.2 77.3 266.899 73.5 301.1-43.5 1.399-4.001 10.6-30.801 3.199-72.101zm-394-317.6h-98.4c0 85-.399 169.4-.399 254.4 0 54.1 2.8 103.7-6 118.9-14.4 29.899-51.7 26.2-68.7 20.399-17.3-8.5-26.1-20.6-36.3-37.699-2.8-4.9-4.9-8.7-5.601-9-26.699 16.3-53.3 32.699-80 49 13.301 27.3 32.9 51 58 66.399 37.5 22.5 87.9 29.4 140.601 17.3 34.3-10 63.899-30.699 79.399-62.199 22.4-41.3 17.6-91.3 17.4-146.6.5-90.2 0-180.4 0-270.9z" fill="#323330"/></svg>
                            </div>
                        </div>
                        <div class="pt-6 z-10 w-full">
                            <h2 class="title-font font-medium text-xs lg:text-xl text-customNoir text-center">JAVASCRIPT</h2>
                        </div>
                    </div>
                </div>

                <div class="p-4 md:w-1/6 w-1/2 mb-4">
                    <div class="relative group h-24  flex flex-col rounded-xl bg-slate-300 transform transition duration-500 hover:scale-105">
                        <div class="h-18 mt-10">
                          <div id="card" class="absolute top-6 left-1/2 transform -translate-x-1/2 z-40 group-hover:top-[-40%] group-hover:opacity-90 duration-500 w-[90%] h-24 bg-customDarkGreen border-2 border-customGreen rounded-xl justify-items-center align-middle">
                            <svg viewBox="0 0 256 366" xmlns="http://www.w3.org/2000/svg" width="256" height="366" preserveAspectRatio="xMidYMid" class="w-16 h-16 mt-4 m-auto">
                                <path d="M182.022 9.147c2.982 3.702 4.502 8.697 7.543 18.687L256 246.074a276.467 276.467 0 0 0-79.426-26.891L133.318 73.008a5.63 5.63 0 0 0-10.802.017L79.784 219.11A276.453 276.453 0 0 0 0 246.04L66.76 27.783c3.051-9.972 4.577-14.959 7.559-18.654a24.541 24.541 0 0 1 9.946-7.358C88.67 0 93.885 0 104.314 0h47.683c10.443 0 15.664 0 20.074 1.774a24.545 24.545 0 0 1 9.95 7.373Z"/>
                                <path fill="#FF5D01" d="M189.972 256.46c-10.952 9.364-32.812 15.751-57.992 15.751-30.904 0-56.807-9.621-63.68-22.56-2.458 7.415-3.009 15.903-3.009 21.324 0 0-1.619 26.623 16.898 45.14 0-9.615 7.795-17.41 17.41-17.41 16.48 0 16.46 14.378 16.446 26.043l-.001 1.041c0 17.705 10.82 32.883 26.21 39.28a35.685 35.685 0 0 1-3.588-15.647c0-16.886 9.913-23.173 21.435-30.48 9.167-5.814 19.353-12.274 26.372-25.232a47.588 47.588 0 0 0 5.742-22.735c0-5.06-.786-9.938-2.243-14.516Z"/></svg>
                          </div>
                        </div>
                        <div class="p-6 z-10 w-full">
                          <h2 class="title-font font-medium text-xs lg:text-xl text-customNoir text-center">ASTRO</h2>
                        </div>
                    </div>
                </div>

                <div class="p-4 md:w-1/6 w-1/2 mb-4">
                    <div class="relative group h-24  flex flex-col rounded-xl bg-slate-300 transform transition duration-500 hover:scale-105">
                        <div class="h-18 mt-10">
                          <div id="card" class="absolute top-6 left-1/2 transform -translate-x-1/2 z-40 group-hover:top-[-40%] group-hover:opacity-90 duration-500 w-[90%] h-24 bg-customDarkGreen border-2 border-customGreen rounded-xl justify-items-center align-middle">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 452 520" class="w-16 h-16 mt-4 m-auto">
                                <path fill="#e34f26" d="M41 460L0 0h451l-41 460-185 52" />
                                <path fill="#ef652a" d="M226 472l149-41 35-394H226" />
                                <path fill="#ecedee" d="M226 208h-75l-5-58h80V94H84l15 171h127zm0 147l-64-17-4-45h-56l7 89 117 32z"/>
                                <path fill="#fff" d="M226 265h69l-7 73-62 17v59l115-32 16-174H226zm0-171v56h136l5-56z"/>
                            </svg>
                          </div>
                        </div>
                        <div class="p-6 z-10 w-full">
                          <h2 class="title-font font-medium text-xs lg:text-xl text-customNoir text-center">HTML</h2>
                        </div>
                    </div>
                </div>

                <div class="p-4 md:w-1/6 w-1/2 mb-4">
                    <div class="relative group h-24  flex flex-col rounded-xl bg-slate-300 transform transition duration-500 hover:scale-105">
                        <div class="h-18 mt-10">
                          <div id="card" class="absolute top-6 left-1/2 transform -translate-x-1/2 z-40 group-hover:top-[-40%] group-hover:opacity-90 duration-500 w-[90%] h-24 bg-customDarkGreen border-2 border-customGreen rounded-xl justify-items-center align-middle">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 452 520" class="w-16 h-16 mt-4 m-auto">
                                <path fill="#0c73b8" d="M41 460L0 0h451l-41 460-185 52"/>
                                <path fill="#30a9dc" d="M226 472l149-41 35-394H226"/>
                                <path fill="#ecedee" d="M226 208H94l5 57h127zm0-114H84l5 56h137zm0 261l-124-33 7 60 117 32z"/>
                                <path fill="#fff" d="M226 265h69l-7 73-62 17v59l115-32 26-288H226v56h80l-6 58h-74z"/>
                            </svg>
                          </div>
                        </div>
                        <div class="p-6 z-10 w-full">
                          <h2 class="title-font font-medium text-xs lg:text-xl text-customNoir text-center">CSS</h2>
                        </div>
                    </div>
                </div>

                <div class="p-4 md:w-1/6 w-1/2 mb-4">
                    <div class="relative group h-24  flex flex-col rounded-xl bg-slate-300 transform transition duration-500 hover:scale-105">
                        <div class="h-18 mt-10">
                          <div id="card" class="absolute top-6 left-1/2 transform -translate-x-1/2 z-40 group-hover:top-[-40%] group-hover:opacity-90 duration-500 w-[90%] h-24 bg-customDarkGreen border-2 border-customGreen rounded-xl justify-items-center align-middle">
                            <svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" width="64" height="64" class="w-16 h-16 mt-4 m-auto">
                                <path d="M58.2 3.365a29.503 29.503 0 0 1-3.419 6.064A32.094 32.094 0 1 0 9.965 55.372l1.186 1.047a32.08 32.08 0 0 0 52.67-22.253c.875-8.17-1.524-18.51-5.62-30.8zM14.53 55.558a2.744 2.744 0 1 1-.404-3.857 2.744 2.744 0 0 1 .404 3.857zm43.538-9.61c-7.92 10.55-24.83 6.99-35.672 7.502 0 0-1.922.113-3.857.43 0 0 .73-.31 1.663-.663 7.614-2.65 11.213-3.16 15.838-5.54 8.708-4.427 17.322-14.122 19.112-24.2-3.313 9.695-13.373 18.032-22.53 21.418-6.276 2.313-17.614 4.566-17.614 4.566l-.457-.245c-7.714-3.75-7.952-20.457 6.077-25.845 6.143-2.366 12.02-1.067 18.654-2.65 7.084-1.683 15.28-6.99 18.615-13.916 3.73 11.08 8.224 28.422.166 39.15z" fill="#68bd45"/></svg>
                          </div>
                        </div>
                        <div class="pt-6 z-10 w-full">
                          <h2 class="title-font font-medium text-xs lg:text-xl text-customNoir text-center">SPRING BOOT</h2>
                        </div>
                    </div>
                </div>

                <div class="p-4 md:w-1/6 w-1/2 mb-4">
                    <div class="relative group h-24  flex flex-col rounded-xl bg-slate-300 transform transition duration-500 hover:scale-105">
                        <div class="h-18 mt-10">
                          <div id="card" class="absolute top-6 left-1/2 transform -translate-x-1/2 z-40 group-hover:top-[-40%] group-hover:opacity-90 duration-500 w-[90%] h-24 bg-customDarkGreen border-2 border-customGreen rounded-xl justify-items-center align-middle">
                            <svg viewBox="0 0 256 154" width="256" height="154" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" class="w-16 h-16 mt-4 m-auto">
                                <defs
                                  ><linearGradient x1="-2.778%" y1="32%" x2="100%" y2="67.556%" id="gradient">
                                    <stop stop-color="#2298BD" offset="0%"></stop>
                                    <stop stop-color="#0ED7B5" offset="100%"></stop>
                                  </linearGradient></defs>
                                <path
                                  d="M128 0C93.867 0 72.533 17.067 64 51.2 76.8 34.133 91.733 27.733 108.8 32c9.737 2.434 16.697 9.499 24.401 17.318C145.751 62.057 160.275 76.8 192 76.8c34.133 0 55.467-17.067 64-51.2-12.8 17.067-27.733 23.467-44.8 19.2-9.737-2.434-16.697-9.499-24.401-17.318C174.249 14.743 159.725 0 128 0ZM64 76.8C29.867 76.8 8.533 93.867 0 128c12.8-17.067 27.733-23.467 44.8-19.2 9.737 2.434 16.697 9.499 24.401 17.318C81.751 138.857 96.275 153.6 128 153.6c34.133 0 55.467-17.067 64-51.2-12.8 17.067-27.733 23.467-44.8 19.2-9.737-2.434-16.697-9.499-24.401-17.318C110.249 91.543 95.725 76.8 64 76.8Z"
                                  fill="url(#gradient)"></path></svg>
                          </div>
                        </div>
                        <div class="pt-6 z-10 w-full">
                          <h2 class="title-font font-medium text-xs lg:text-xl text-customNoir text-center">TAILWIND CSS</h2>
                        </div>
                    </div>
                </div>

                <div class="p-4 md:w-1/6 w-1/2 mb-4">
                    <div class="relative group h-24  flex flex-col rounded-xl bg-slate-300 transform transition duration-500 hover:scale-105">
                        <div class="h-18 mt-10">
                          <div id="card" class="absolute top-6 left-1/2 transform -translate-x-1/2 z-40 group-hover:top-[-40%] group-hover:opacity-90 duration-500 w-[90%] h-24 bg-customDarkGreen border-2 border-customGreen rounded-xl justify-items-center align-middle">
                            <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" viewBox="0 0 256 252" class="w-16 h-16 mt-4 m-auto">
                                <path d="M236 194c-14 0-25 1-34 5-3 1-7 1-7 4l3 6c2 3 5 8 9 11l11 8 21 10 11 9 6 4-3-6-5-5c-5-7-11-13-18-18-6-3-18-9-20-15h-1l12-3 18-3 8-2v-2l-9-10c-8-8-18-15-28-22l-18-8c-2-1-6-2-7-4l-7-13-15-30-8-20c-18-30-38-48-68-65-6-4-14-5-22-7l-13-1-8-6C34 5 8-9 1 9c-5 11 7 22 11 28l9 13 3 9c3 8 5 17 9 24l6 10c2 2 4 3 5 6-3 4-3 9-4 13-7 20-4 44 5 59 2 4 9 14 18 10 8-3 6-13 8-22l1-4 8 14c5 9 14 18 22 24 4 3 8 8 13 10l-4-4-9-10c-8-10-14-21-20-32l-7-17-3-6c-3 4-7 7-9 12-3 7-3 17-4 26h-1c-6-1-8-7-10-12-5-12-6-32-1-46 1-4 6-15 4-19-1-3-4-5-6-7l-7-12-10-30-9-13c-3-5-7-8-10-14-1-2-2-5 0-7l2-2c2-2 9 0 11 1 6 3 12 5 17 9l8 6h4c6 1 12 0 17 2 9 3 18 7 25 12 23 14 42 35 54 59 3 4 3 8 5 12l12 26c4 8 7 16 12 23 3 4 14 6 18 8l12 4 18 12c2 2 11 7 12 10Z" fill="#00546B"/>
                                <path d="m58 43-7 1 6 7 4 9v-1c3-1 4-4 4-8l-2-4-5-4Z" fill="#00546B"/>
                            </svg>
                          </div>
                        </div>
                        <div class="p-6 z-10 w-full">
                          <h2 class="title-font font-medium text-xs lg:text-xl text-customNoir text-center">MYSQL</h2>
                        </div>
                    </div>
                </div>
                <div class="p-4 md:w-1/6 w-1/2 mb-4">
                    <div class="relative group h-24  flex flex-col rounded-xl bg-slate-300 transform transition duration-500 hover:scale-105">
                        <div class="h-18 mt-10">
                          <div id="card" class="absolute top-6 left-1/2 transform -translate-x-1/2 z-40 group-hover:top-[-40%] group-hover:opacity-90 duration-500 w-[90%] h-24 bg-customDarkGreen border-2 border-customGreen rounded-xl justify-items-center align-middle">
                            <svg viewBox="0 0 256 256" width="256" height="256" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" class="w-16 h-16 mt-4 m-auto">
                                <path d="M20 0h216c11.046 0 20 8.954 20 20v216c0 11.046-8.954 20-20 20H20c-11.046 0-20-8.954-20-20V20C0 8.954 8.954 0 20 0Z" fill="#3178C6"/>
                                <path d="M150.518 200.475v27.62c4.492 2.302 9.805 4.028 15.938 5.179 6.133 1.151 12.597 1.726 19.393 1.726 6.622 0 12.914-.633 18.874-1.899 5.96-1.266 11.187-3.352 15.678-6.257 4.492-2.906 8.048-6.704 10.669-11.394 2.62-4.689 3.93-10.486 3.93-17.391 0-5.006-.749-9.394-2.246-13.163a30.748 30.748 0 0 0-6.479-10.055c-2.821-2.935-6.205-5.567-10.149-7.898-3.945-2.33-8.394-4.531-13.347-6.602-3.628-1.497-6.881-2.949-9.761-4.359-2.879-1.41-5.327-2.848-7.342-4.316-2.016-1.467-3.571-3.021-4.665-4.661-1.094-1.64-1.641-3.495-1.641-5.567 0-1.899.489-3.61 1.468-5.135s2.362-2.834 4.147-3.927c1.785-1.094 3.973-1.942 6.565-2.547 2.591-.604 5.471-.906 8.638-.906 2.304 0 4.737.173 7.299.518 2.563.345 5.14.877 7.732 1.597a53.669 53.669 0 0 1 7.558 2.719 41.7 41.7 0 0 1 6.781 3.797v-25.807c-4.204-1.611-8.797-2.805-13.778-3.582-4.981-.777-10.697-1.165-17.147-1.165-6.565 0-12.784.705-18.658 2.115-5.874 1.409-11.043 3.61-15.506 6.602-4.463 2.993-7.99 6.805-10.582 11.437-2.591 4.632-3.887 10.17-3.887 16.615 0 8.228 2.375 15.248 7.127 21.06 4.751 5.811 11.963 10.731 21.638 14.759a291.458 291.458 0 0 1 10.625 4.575c3.283 1.496 6.119 3.049 8.509 4.66 2.39 1.611 4.276 3.366 5.658 5.265 1.382 1.899 2.073 4.057 2.073 6.474a9.901 9.901 0 0 1-1.296 4.963c-.863 1.524-2.174 2.848-3.93 3.97-1.756 1.122-3.945 1.999-6.565 2.632-2.62.633-5.687.95-9.2.95-5.989 0-11.92-1.05-17.794-3.151-5.875-2.1-11.317-5.25-16.327-9.451Zm-46.036-68.733H140V109H41v22.742h35.345V233h28.137V131.742Z" fill="#FFF"/></svg>
                          </div>
                        </div>
                        <div class="pt-6 z-10 w-full">
                          <h2 class="title-font font-medium text-xs lg:text-xl text-customNoir text-center">TYPESCRIPT</h2>
                        </div>
                    </div>
                </div>

                <div class="p-4 md:w-1/6 w-1/2 mb-4">
                    <div class="relative group h-24  flex flex-col rounded-xl bg-slate-300 transform transition duration-500 hover:scale-105">
                        <div class="h-18 mt-10">
                          <div id="card" class="absolute top-6 left-1/2 transform -translate-x-1/2 z-40 group-hover:top-[-40%] group-hover:opacity-90 duration-500 w-[90%] h-24 bg-customDarkGreen border-2 border-customGreen rounded-xl justify-items-center align-middle">
                            <svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-16 h-16 mt-4 m-auto"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="16" cy="16" r="14" fill="#8892BF"></circle> <path d="M14.4392 10H16.1192L15.6444 12.5242H17.154C17.9819 12.5419 18.5986 12.7269 19.0045 13.0793C19.4184 13.4316 19.5402 14.1014 19.3698 15.0881L18.5541 19.4889H16.8497L17.6288 15.2863C17.7099 14.8457 17.6856 14.533 17.5558 14.348C17.426 14.163 17.146 14.0705 16.7158 14.0705L15.3644 14.0573L14.3661 19.4889H12.6861L14.4392 10Z" fill="white"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M6.74092 12.5243H10.0036C10.9612 12.533 11.6552 12.8327 12.0854 13.4229C12.5156 14.0132 12.6576 14.8193 12.5115 15.8414C12.4548 16.3085 12.3289 16.7665 12.1341 17.2159C11.9474 17.6652 11.6878 18.0704 11.355 18.4317C10.9491 18.8898 10.5149 19.1805 10.0523 19.304C9.58969 19.4274 9.11076 19.489 8.61575 19.489H7.15484L6.69222 22H5L6.74092 12.5243ZM7.43485 17.9956L8.16287 14.0441H8.40879C8.49815 14.0441 8.5914 14.0396 8.6888 14.0309C9.33817 14.0221 9.87774 14.0882 10.308 14.2291C10.7462 14.37 10.8923 14.9031 10.7462 15.8282C10.5678 16.9296 10.2186 17.5727 9.69926 17.7577C9.1799 17.934 8.53053 18.0176 7.75138 18.0088H7.58094C7.53224 18.0088 7.48355 18.0043 7.43485 17.9956Z" fill="white"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M24.4365 12.5243H21.1738L19.4329 22H21.1251L21.5878 19.489H23.0487C23.5437 19.489 24.0226 19.4274 24.4852 19.304C24.9479 19.1805 25.382 18.8898 25.7879 18.4317C26.1207 18.0704 26.3803 17.6652 26.567 17.2159C26.7618 16.7665 26.8877 16.3085 26.9444 15.8414C27.0905 14.8193 26.9486 14.0132 26.5183 13.4229C26.0881 12.8327 25.3942 12.533 24.4365 12.5243ZM22.5958 14.0441L21.8678 17.9956C21.9165 18.0043 21.9652 18.0088 22.0139 18.0088H22.1843C22.9635 18.0176 23.6128 17.934 24.1322 17.7577C24.6515 17.5727 25.0007 16.9296 25.1792 15.8282C25.3253 14.9031 25.1792 14.37 24.7409 14.2291C24.3107 14.0882 23.7711 14.0221 23.1217 14.0309C23.0243 14.0396 22.9311 14.0441 22.8417 14.0441H22.5958Z" fill="white"></path> </g></svg>
                          </div>
                        </div>
                        <div class="p-6 z-10 w-full">
                          <h2 class="title-font font-medium text-xs lg:text-xl text-customNoir text-center">PHP</h2>
                        </div>
                    </div>
                </div>

                <div class="p-4 md:w-1/6 w-1/2 mb-4">
                    <div class="relative group h-24  flex flex-col rounded-xl bg-slate-300 transform transition duration-500 hover:scale-105">
                        <div class="h-18 mt-10">
                          <div id="card" class="absolute top-6 left-1/2 transform -translate-x-1/2 z-40 group-hover:top-[-40%] group-hover:opacity-90 duration-500 w-[90%] h-24 bg-customDarkGreen border-2 border-customGreen rounded-xl justify-items-center align-middle">
                            <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" viewBox="0 0 256 256" class="w-16 h-16 mt-4 m-auto">
                              <path d="M251.17 116.6 139.4 4.82a16.49 16.49 0 0 0-23.31 0l-23.21 23.2 29.44 29.45a19.57 19.57 0 0 1 24.8 24.96l28.37 28.38a19.61 19.61 0 1 1-11.75 11.06L137.28 95.4v69.64a19.62 19.62 0 1 1-16.13-.57V94.2a19.61 19.61 0 0 1-10.65-25.73L81.46 39.44 4.83 116.08a16.49 16.49 0 0 0 0 23.32L116.6 251.17a16.49 16.49 0 0 0 23.32 0l111.25-111.25a16.5 16.5 0 0 0 0-23.33" fill="#DE4C36"/>
                            </svg>
                          </div>
                        </div>
                        <div class="p-6 z-10 w-full">
                          <h2 class="title-font font-medium text-xs lg:text-xl text-customNoir text-center">GIT</h2>
                        </div>
                    </div>
                </div>
                  
            </div>
        </div>
    </section>
</section>


<style>
    @keyframes zoom {
        from {
            opacity: 0;
            scale: 20%;
        }

        to {
            opacity: 1;
            scale: 100%;
        }
    }

    .body {
        view-timeline-name: --line;
        view-timeline-axis: block;

        animation-timeline: --line;
        animation-name: zoom;
      
        animation-range: entry 0% cover 30%;
        animation-fill-mode: both;

    }
    #card {
        box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.689);

    }
    #card:hover {
        box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
    }

  
</style>
